<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - EF</title>
</head>
<body>
    <h1>Для начала игры необходимо зайти в аккаунт</h1>
    <form method="post">
        <label for="login"><b>Логин</b></label> <br>
        <input type="text" name="login" required> <br>
        <label for="password"><b>Пароль</b></label> <br>
        <input type="password" name="password" required> <br>
        <input type="submit" value="Войти"/> <br>
    </form>
</body>
</html>